<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Simple calculator</h1>
             <form [ngFormModel]="form">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" type="text"  ngControl="leftOperand" #leftOperand="ngForm">
                        <br>
                        <div *ngIf="leftOperand.dirty && !leftOperand.valid && !leftOperand.pending">
                            <p class="text-danger" *ngIf="leftOperand.errors.required">Required</p>
                            <p class="text-danger" *ngIf="leftOperand.errors.invalidNumber">Оnly number</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text"  ngControl="rightOperand" #rightOperand="ngForm">
                        <br>
                        <div *ngIf="rightOperand.dirty && !rightOperand.valid && !rightOperand.pending">
                            <p class="text-danger" *ngIf="rightOperand.errors.required">Required</p>
                            <p class="text-danger" *ngIf="rightOperand.errors.invalidNumber">Оnly number</p>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-3">
                        <button [disabled]="isValid()" (click)="submitResult('+', form.value)" type="button" class="btn btn-block btn-primary">Addition (+)</button>
                    </div>
                    <div class="col-md-3">
                        <button  [disabled]="isValid()" (click)="submitResult('-', form.value)" type="button" class="btn btn-block btn-primary">Subtraction (−)</button>
                    </div>
                    <div class="col-md-3">
                        <button  [disabled]="isValid()" (click)="submitResult('*', form.value)" type="button" class="btn btn-block btn-primary">Multiplication (*)</button>
                    </div>
                    <div class="col-md-3">
                        <button  [disabled]="isValid()" (click)="submitResult('/', form.value)" type="button" class="btn btn-block btn-primary">Division (/)</button>
                    </div>
                </div>
             </form>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control" type="text" value="{{ result }}" readonly>
                </div>
                <div class="col-md-3">
                    <button (click)="cleanData()" type="button" class="btn btn-block btn-success">Clean</button>
                </div>
            </div>
        </div>
    </div>
</div>
