<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>History</h1>
            <pre>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>leftOperand</th>
                            <th>arithmeticType</th>
                            <th>rightOperand</th>
                            <th>result</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="#log of logs">
                        <tr>
                            <td>{{log.id}}</td>
                            <td>{{log.leftOperand}}</td>
                            <td>{{log.arithmeticType}}</td>
                            <td>{{log.rightOperand}}</td>
                            <td>{{log.result}}</td>
                        </tr>
                    </tbody>
                </table>
            </pre>
        </div>
    </div>
</div>