<main class="container">
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" uiSref="app.calculator" [uiOptions]="{ inherit: false }" >Calculator</a></li>
              <li><a class="navbar-brand" uiSref="app.logs" [uiOptions]="{ inherit: false }" uiSrefActive="active">Logs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <ui-view></ui-view>
</main>

